<!DOCTYPE html>
{% load static %}
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css" integrity="sha384-HSMxcRTRxnN+Bdg0JdbxYKrThecOKuH5zCYotlSAcp1+c8xmyTe9GYg1l9a69psu" crossorigin="anonymous">
    <link rel="stylesheet" href="{% static "testapp/haridate.css" %}">
    <link href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">

    <title></title>
  </head>
  <body>
    <nav class="navbar navbar-fixed-top">
  <div class="container">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="#">Daily Sync-up call update</a>
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav">
        <li class="active"><a href="https://signin.netapp.com/oamext/login.html">ServiceNow<span class="sr-only">(current)</span></a></li>
        <li><a href="https://netapp.service-now.com/nav_to.do?uri=%2F$vtb.do%3Fsysparm_board%3D943a2d72dbf6f3040ef59e26db9619e2">VTB </a></li>

      </ul>

      <ul class="nav navbar-nav navbar-right">
        <li><a href="#">Contact us</a></li>
        <li><a href="#"><i class="fa fa-user-circle" aria-hidden="true"></i>&nbsp&nbsp9633585729</a></li>
            </ul>
    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
</nav><br><br><br><br>
<div class="container">
<div class="jumbotron">
  <h3>Note:</h3>
  <p>Starting now, ensure all RFS tickets are categorized as P4 and Incidents in default as P3. Make an appropriate decision to categorize the Incidents vs RFS as its key for setting the priority</p>
  <a class="btn btn-primary btn-lg" href="/tc" role="button">TRUECOMP</a>&nbsp&nbsp
  <a class="btn btn-primary btn-lg" href="/smart" role="button">SMART</a>&nbsp&nbsp
  <a class="btn btn-primary btn-lg" href="/pdb" role="button">PDB</a>&nbsp&nbsp
  <a class="btn btn-primary btn-lg" href="/dms" role="button">DMS</a>&nbsp&nbsp
</div>

</div>
<!-- <a class="btn btn-primary btn-lg" id="but" href="/sub" role="button">END CALL</a>&nbsp&nbsp -->
<div class="container">
  <a class="aff" href="/sub"><i class="fa fa-phone" aria-hidden="true"></i>&nbsp&nbspEnd Call</a>

  </div>
  <script src="https://code.jquery.com/jquery-3.5.1.js"integrity="sha256-QWo7LDvxbWT2tbbQ97B53yJnYU3WhH/C8ycbRAkjPDc="crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js" integrity="sha384-aJ21OjlMXNL5UyIl/XNwTMqvzeRMZH2w8c5cRVpzpU8Y5bApTppSuUkhZXN0VxHd" crossorigin="anonymous"></script>
  </body>
</html>
